@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#app,
.container {
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  background: #2980b9;
  padding: 1rem;
  flex: 0 0 auto;
}
.logo {
  font-size: 3rem;
  color: #fff;
  letter-spacing: .5rem;
}
.logo span {
  font-weight: 300;
}
.home {
  background: #2980B9;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
  color: #fff;
  text-align: center;
}
.form-main,
.form-header {
  display: flex;
}
.form-main {
  flex-direction: column;
  align-items: center;
}
.form-header {
  flex-direction: row;
  align-items: center;
}
form input {
  margin-bottom: 1rem;
  border: none;
  border-radius: .5rem;
  font-size: 1.6rem;
  padding: 1rem;
}
.button {
  border: none;
  border-radius: .5rem;
  font-size: 1.6rem;
  padding: 1rem;
  background: #0c6;
  color: #fff;
  font-weight: 700;
}
.form-header input,
.form-header .button {
  margin: 0 .5rem;
}
.forecast {
  flex: 1 1 auto;
}
.city {
  font-size: 4rem;
  font-weight: 300;
  color: #2980b9;
  text-align: center;
  text-transform: capitalize;
}
.forecast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
}
.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-right: 1rem;
  font-size: 2rem;
  color: #6dd5fa;
  /*background: #6dd5fa;*/
  border-radius: 50%;
  /*width: 20rem;*/
}
.forecast-day:last-of-type {
  margin-right: 0;
}
.forecast-item:first-of-type {
  margin-bottom: 2rem;
}
.forecast-item .wi {
  font-size: 10rem;
}
.temp .wi {
  font-size: 100%;
}
.loading {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: #2980b9;
}
.back {
  font-size: 2rem;
  color: #6dd5fa;
  text-align: center;
  margin-top: 4rem;
  display: block;
}




@media (max-width: 768px) {
  .form-header {
    display: none;
  }
}
